* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 209, 209);
}

.wrapper {
    height: 420px;
    width: 704px;
    margin: 50px auto;
    border-radius: 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
    float: left;
    height: 420px;
    width: 327px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info {
    float: left;
    height: 420px;
    width: 377px;
    border-radius: 7px 0 0 7px;
    background-color: #fff;
}

.product-text {
    height: 150px;
    width: 357px;
}

.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 12px;
    font-size: 30px;
    color: #ff0000;
}

.product-text h2 {
    margin: 10px 0 10px 38px;
    font-size: 13px;
    /* font-family: rale; */
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    /* height: 125px; */
    margin: 0 0 0 38px;
    color: black;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-btn {
    height: 103px;
    width: 327px;
    margin-top: 280px;
    position: relative;
}

/* .product-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: pink;
} */

/* span {
    display: inline-block;
    height: 50px;
    font-size: 34px;
} */

/*.product-btn button {
    display: inline-block;
    height: 60px;
    width: 356px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
    animation: colorBackground 0.5s infinite;
    -webkit-animation: colorBackground 5s infinite;
    -moz-animation: colorBackground 5s infinite;
    -o-animation: colorBackground 0.5s infinite
}*/
html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

body {
    background: #e2b2a6;
    overflow: hidden;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

svg {
    padding: 5vw;
    width: 90vw;
}

svg>* {
    fill: #1C1C1C;
    stroke: #1C1C1C;
    stroke-width: 0.85px;
}

/* hover tip */
body:hover:after {
    content: "From Đẩu with love <3 ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1vh;
    color: #1C1C1C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font: 700 9px/14px Tahoma, sans-serif;
    -moz-animation: tip 2.5s forwards;
    -webkit-animation: tip 2.5s forwards;
    animation: tip 2.5s forwards;
}

@-moz-keyframes tip {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    80% {
        opacity: 1;
    }
}

@-webkit-keyframes tip {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    80% {
        opacity: 1;
    }
}

@keyframes tip {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    80% {
        opacity: 1;
    }
}


@keyframes colorBackground {
    0% {
        background-color: yellowgreen;
        color: white;
    }

    50% {
        background-color: red;
        color: yellow;
    }
}
